<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
</head>
<body>
    <h1>Bienvenido a la tienda</h1>
    <a href="{{ url_for('logout') }}">Cerrar sesión</a>  <!-- Enlace para cerrar sesión -->
    <h2>Lista de Productos</h2>
    <ul>
        <!-- Itera sobre los productos obtenidos desde la base de datos -->
        {% for producto in productos %}
        <li>
            {{ producto['nombre'] }} - {{ producto['precio'] }} - {{ producto['stock'] }}
            <!-- Mostramos el nombre, precio y stock del producto -->
        </li>
        {% endfor %}
    </ul>
    <a href="{{ url_for('agregar_producto_route') }}">Agregar nuevo producto</a> <!-- Enlace para agregar productos -->
</body>
</html>
